<div class="sticky-nav"></div>
<div class="grid">
  <div span='span3'>
    <div class="span1">
      <div>
        <h1 class="text-center">Sn<span></span>rky's Timeline</h1>
      </div>
      <div class="span2"></div>
    </div>
  </div>

  <div class="searchbar">
    <mat-form-field class="example-full-width" color="primary">
      <mat-icon matPrefix class="icon">search</mat-icon>
      <mat-label>Search Post</mat-label>
      <input matInput type="search" class="toolbar-search" [formControl]="textSearch">
    </mat-form-field>
    <mat-form-field class="example-full-width" style=" margin-left:10px;">
      <!-- <mat-label style="display: inline;">Filter By</mat-label> -->
      <mat-select [formControl]="categories">
        <mat-option value="Author">
          Author
        </mat-option>
        <mat-option value="Categories">
          Categories
        </mat-option>
        <mat-option value="Description">
          Description
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<!-- *ngIf="filteredByDescription | async as posts; else loadingRef" -->
<div class="container-fluid px-5" *ngIf="filteredByDescription | async as posts; else loadingRef"> 
  <div class="row g-3">
    <div class="col-3" [@inOutAnimation]="'in'" *ngFor="let post of posts | sorted | slice:0:max">
      <mat-card routerLink="/blog/post/{{post.id}}" class="h-100">
        <div>
          <mat-card-header>
            <img mat-card-avatar [src]="post.imgUrl ?? '/assets/img/image-placeholder.png'">
            <mat-card-title>{{post.author}}</mat-card-title>
            <mat-card-subtitle>{{post.category}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p [class.cutoff-text]="post.description.length > 250">
              {{post.description}}
            </p>
          </mat-card-content>
        </div>
        <div>
          <mat-card-subtitle class="right">
            <small *ngIf="post.isEdited">Edited: </small>
            {{post.createdOn | date: 'dd MMM, yyyy h:mm a'}}
          </mat-card-subtitle>
          <mat-card-actions class="no-space">
            <div>

              <button mat-button color="primary" matTooltip="Like this Comment" class="first-child" *ngIf="activeUser"
                (click)='likePost(post, $event)'>
                <span class="numberLikes" *ngIf="activeUser && post.likes?.length !== 0">{{post.likes?.length}}</span>
                <mat-icon [ngClass]="{'material-icons-outlined': post?.toggleButtonLike == true,
                  '' : post?.toggleButtonLike == false }">
                  thumb_up_alt
                </mat-icon>
                <!-- <mat-icon *ngIf="post?.toggleButtonLike" fontSet="material-icons-outlined" >thumb_up_alt</mat-icon>
               <mat-icon *ngIf="!post?.toggleButtonLike">thumb_up_alt</mat-icon> -->
              </button>
              <button mat-button color="accent" matTooltip="Edit this Comment" (click)='onEditPost(post, $event)'
                *ngIf="activeUser?.displayName == post.author || activeUser?.role === 'admin'"><mat-icon>edit</mat-icon></button>
              <button mat-button color="warn" matTooltip="Delete this Comment" (click)='onDeletePost(post, $event)'
                *ngIf="activeUser?.displayName == post.author || activeUser?.role === 'admin'"><mat-icon>delete</mat-icon></button>
            </div>
            <div>
              <button mat-button color="primary" *ngIf="activeUser">Write a Comment<mat-icon>
                  comment</mat-icon></button>
            </div>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
  <div id="loadMore">
    <button mat-raised-button color="primary" (click)="loadMore()" *ngIf="posts.length > max">+ Load More</button>
  </div>
</div>

<ng-template #loadingRef>
  <div class="spinner"></div>
</ng-template>

<router-outlet></router-outlet>