<mat-card routerLink="/blog/post/{{post.id}}" class="h-100">
    <div [@slideInOut]>
      <mat-card-header>
        <img mat-card-avatar [src]="post.imgUrl ?? '/assets/img/image-placeholder.png'">
        <mat-card-title>{{post.author}}</mat-card-title>
        <mat-card-subtitle>{{post.category}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [class.cutoff-text]="post.description.length > 250">
          {{post.description}}
        </p>
      </mat-card-content>
    </div>
    <div>
      <mat-card-subtitle class="right">
        <small *ngIf="post.isEdited">Edited: </small>
        {{post.createdOn | date: 'dd MMM, yyyy h:mm a'}}
      </mat-card-subtitle>
      <mat-card-actions class="no-space">
        <div>
          <button mat-button color="primary" matTooltip="Like this Comment" class="first-child" *ngIf="activeUser?.displayName"
            (click)='likePost(post, $event)'>
            <span class="numberLikes" *ngIf="activeUser && post.likes?.length !== 0">{{post.likes?.length}}</span>
            <mat-icon [ngClass]="{'material-icons-outlined': post?.toggleButtonLike == true,
              '' : post?.toggleButtonLike == false }">
              thumb_up_alt
            </mat-icon>
          </button>
          <button mat-button color="accent" matTooltip="Edit this Comment" (click)='onEditPost(post, $event)'
            *ngIf="activeUser?.displayName == post.author || activeUser?.role === 'admin'"><mat-icon>edit</mat-icon></button>
          <button mat-button color="warn" matTooltip="Delete this Comment" (click)='onDeletePost(post, $event)'
            *ngIf="activeUser?.displayName == post.author || activeUser?.role === 'admin'"><mat-icon>delete</mat-icon></button>
        </div>
        <div>
          <button mat-button color="primary" *ngIf="activeUser?.displayName">
            Write a comment
            <mat-icon>comment</mat-icon>
            <span class="numberLikes" *ngIf="activeUser && post.comments?.length !== 0">{{post.comments?.length}}</span>
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>