:host {
  display: flex;
  justify-content: center;
  align-items : center;
  margin-top: calc(70px + 2rem);
  margin-bottom: 2rem;
}
mat-form-field {
  width: 400px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-card-title {
  color: #00695c;
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  font-family: cursive;
}