:host {
  display: flex;
  justify-content: center;
  align-items : center;
  margin-top: calc(70px + 2rem);
  margin-bottom: 2rem;
}
mat-form-field {
  width: 400px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-card-title {
  color: #00695c;
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  font-family: cursive;
}

.alert  {
  position: fixed;
  top: calc(70px + 2rem);
  right: 0;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 2rem;
  background: #fff;
  color: #00695c;
  font-family: cursive;
  font-weight: 900;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  transition:  all .5s ease-in-out;
  opacity: 0;
  z-index: 10000;
  text-shadow:
  1px 0px 1px #b3b3b3,
  0px 1px 1px white,
  2px -1px 1px #b3b3b3,
  1px -2px 1px white,
  3px -2px 1px #b3b3b3,
  2px -3px 1px white,
  4px -3px 1px #b3b3b3;
}

.alert2  {
  position: fixed;
  top: calc(70px + 2rem);
  right: 0;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 2rem;
  background: #fff;
  color: #f44336;
  font-family: cursive;
  font-weight: 900;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  transition:  all .5s ease-in-out;
  opacity: 0;
  z-index: 10000;
  text-shadow:
  1px 0px 1px #b3b3b3,
  0px 1px 1px white,
  2px -1px 1px #b3b3b3,
  1px -2px 1px white,
  3px -2px 1px #b3b3b3,
  2px -3px 1px white,
  4px -3px 1px #b3b3b3;
}

.visible {
  opacity: 1;
  transform: translateX(-2rem);
}