::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;  
    border-radius: 20px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #00695c; 
    border-radius: 20px;
  }

.sticky-nav {
    margin-top: calc(70px + 1rem);
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 2.5rem;
    justify-content: space-evenly;
    max-width: 1400px;
}

.table1 {
    flex: 1 1 auto;
}

.table2 {
    flex: 3 1 auto;
}

.headers {
    margin: 0 auto;
    width: fit-content;
}
.add-categories {
    color: white;
    font-family: cursive;
    font-weight: bold;
}

.mdb-color {
    background-color: #00695c;
    position: sticky;
    top: 0;
    z-index: 999;
}

.table {
    position: relative;
    font-family: cursive;
    /* border-collapse: separate; */

}
.table-wrap {
    margin-top: .5rem;
    height: 442px;
    overflow-y: auto;
    padding-right: .5rem;
}

table th:not(:last-child) {
    border-right: 1px solid white;  
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
  vertical-align: middle;
}

.text-left{
    text-align: start;
    padding-inline-start: 15px !important;
    padding-inline-end: 10px !important;
}

tbody > tr > td {
    border-bottom: 1px solid white;
}
.table>:not(caption)>*>* {
    padding: 5px 1px;
}

tr {
    height: 49px;
}
.color {
    background-color: #00695c;
}
mat-form-field {
    margin: 0 1rem;
}
mat-label {
    color: #00695c;
    font-family: cursive;
    font-weight: bold;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #00695c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}