<div class="overflow-hidden" *ngIf="filteredByAuthor | async as users; else loadingRef">
  <div class="sticky-nav"></div>
  <div class="container-flex" >
    <div class="table1">
      <div class="d-block headers">
        <button mat-raised-button color="primary" (click)="addCategory()" class="add-categories"
          [disabled]="!categoriesToAdd.valid">+ Add</button>
        <mat-form-field class="example-full-width" color="primary">
          <mat-label>New Category</mat-label>
          <input matInput type="text" [formControl]="categoriesToAdd">
          <mat-error *ngIf="categoriesToAdd.errors?.['required']">
            You must enter a value
          </mat-error>
          <mat-error *ngIf="categoriesToAdd.errors?.['minlength']">
            Min required at least 3 characters
          </mat-error>
          <mat-error *ngIf="categoriesToAdd.errors?.['categoryAlreadyExists']">
            Category already exists
          </mat-error>
        </mat-form-field>
      </div>
      <div class="table-wrap ">
        <table class="table one table-hover">
          <thead class="mdb-color">
            <tr class="text-white">
              <th scope="col">#</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of categories; index as i">
              <th scope="row" class="text-white color">{{i + 1}}</th>
              <td><strong>{{cat}}</strong></td>
              <td>
                <button mat-button style="color: red;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="table2">
      <div class="d-grid px-5">
        <mat-form-field class="example-full-width" color="primary">
          <mat-label>Search Author</mat-label>
          <input matInput type="text" [formControl]="search">
        </mat-form-field>
      </div>
      <div class="table-wrap">
        <table class="table two table-hover">
          <thead class="mdb-color">
            <tr class="text-white">
              <th scope="col">#</th>
              <th scope="col">Author</th>
              <th scope="col">Category</th>
              <th scope="col">Decription</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of users | sorted; index as i" routerLink="/blog/post/{{u.id}}" style="cursor: pointer;">
              <th scope="row" class="text-white color">{{i + 1}}</th>
              <td class="text-center"><strong>{{u.author}}</strong></td>
              <td class="text-center">{{u.category}}</td>
              <td class="text-left">{{u.description | slice:0:85}}...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<ng-template #loadingRef>
  <div class="spinner"></div>
</ng-template>

<router-outlet></router-outlet>