<div class="sticky-nav"></div>
<div class="grid">
  <div span='span3'>
    <div class="span1">
      <div>
        <h1 class="text-center">Sn<span></span>rky's Timeline</h1>
      </div>
      <div class="span2"></div>
    </div>
  </div>

  <div class="searchbar">
    <mat-form-field class="example-full-width" color="primary">
      <mat-icon matPrefix class="icon">search</mat-icon>
      <mat-label>Search Post</mat-label>
      <input matInput type="search" class="toolbar-search" [formControl]="textSearch">
    </mat-form-field>
    <mat-form-field class="example-full-width" style=" margin-left:10px;">
      <mat-select [formControl]="categories">
        <mat-option value="Author">
          Author
        </mat-option>
        <mat-option value="Categories">
          Categories
        </mat-option>
        <mat-option value="Description">
          Description
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="container-fluid px-5" *ngIf="filteredByDescription | async as posts; else loadingRef">
  <div class="row g-3">
    <div class="col-3" [@inOutAnimation]="'in'" *ngFor="let post of posts | sorted | slice:0:max">
      <app-card [post]="post"></app-card>
    </div>
  </div>
  <div id="loadMore">
    <button mat-raised-button color="primary" (click)="loadMore()" *ngIf="posts.length > max">+ Load More</button>
  </div>
</div>

<ng-template #loadingRef>
  <app-spinner></app-spinner>
</ng-template>

<router-outlet></router-outlet>