<div *ngIf="post; else loadingRef">
<div class="sticky-nav"></div>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="post.imgUrl ?? '/assets/img/image-placeholder.png'">
    <mat-card-title>{{post.author}}</mat-card-title>
    <mat-card-subtitle>{{post.category}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{post.description}}
    </p>
  </mat-card-content>
  <mat-card-subtitle class="right">
    <small *ngIf="post.isEdited">Edited: </small>
    {{post.createdOn | date: 'dd MMM, yyyy h:mm a'}}
  </mat-card-subtitle>
  <mat-card-actions class="no-space">
    <div>
      <button matTooltip="Like this Post" mat-button color="primary" (click)='likePost(post, $event)'
        class="first-child">
        <span class="numberLikes" *ngIf="activeUser && post.likes?.length !== 0">{{post.likes?.length}}</span>
        <mat-icon 
          [ngClass]=
          "{'material-icons-outlined': post?.toggleButtonLike == true,
          '' : post?.toggleButtonLike == false }">
          thumb_up_alt
        </mat-icon>
      </button>
      <button matTooltip="Edit this Post" mat-button color="accent"
        *ngIf="activeUser?.displayName == post.author || activeUser?.role === 'admin'"><mat-icon>edit</mat-icon></button>
      <button matTooltip="Delete this Post" mat-button color="warn"
        *ngIf="activeUser?.displayName == post.author || activeUser?.role === 'admin'"><mat-icon>delete</mat-icon></button>
    </div>
    <div>
      <button mat-button color="primary" (click)="isDisplayed = !isDisplayed;">Write a Comment<mat-icon>
          comment</mat-icon></button>
    </div>
  </mat-card-actions>
</mat-card>

<div>
  <div class="container" *ngIf="isDisplayed" [@itemAnim]>
    <mat-card [@listAnim]>
      <mat-form-field appearance="outline" class="animated-mat-field">
        <mat-label>Comment</mat-label>
        <textarea matInput placeholder="Write a Comment" [formControl]="addComment"></textarea>
      </mat-form-field>
      <div class="text-end">
        <button mat-raised-button color="primary" (click)="addNewComment(); isDisplayed = !isDisplayed;">+ Add</button>
      </div>
    </mat-card>
  </div>
</div>

<div class="container" id="flex-reverse" *ngFor="let comment of post?.comments"  [@itemAnim]>

  <div style="margin-bottom: 1rem;">
    <mat-card-header class="d-flex flex-column">
      <img mat-card-avatar [src]="comment.photoUrl ?? '/assets/img/image-placeholder.png'" style="place-self: center;">
      <mat-card-title style="margin-top: 10px;">{{comment.displayName}}</mat-card-title>
    </mat-card-header>
  </div>

  <mat-card [@listAnim] style="margin-top: 0;">
    <mat-card-content>
      <p>
        {{comment.desc}}
      </p>
    </mat-card-content>

    <mat-card-actions class="right-align">
      <div class="text-right">
        <button matTooltip="Delete this Comment" mat-button color="warn" (click)="delete(comment)"
        *ngIf="activeUser?.displayName === post.author || comment?.displayName === activeUser?.displayName || activeUser?.role === 'admin'">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-card-subtitle class="right">
          {{comment.createdOn | date: 'dd MMM, yyyy h:mm a'}}
        </mat-card-subtitle>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
</div>

<ng-template #loadingRef>
  <div class="spinner"></div>
</ng-template>